IDENTITY_SERVICE_URL=http://identity-service:5001
SALARY_SERVICE_URL=http://salary-service:5002
VOTE_SERVICE_URL=http://vote-service:5003
SEARCH_SERVICE_URL=http://search-service:5004
STATS_SERVICE_URL=http://stats-service:5005
